<%= image_tag 'home-bg.png', 'class'=> 'home-bg'  %>

<button class="back-btn"></button>

<div class="posts-wrapper">
  <div class="post"
       data-post-id="0">
    <h1 class="title js-post-title">
    </h1>

    <div class="summary js-post-summary">
    </div>

    <div class="credentials">
      <div class="author js-post-author">
      </div>

      <div class="date js-post-date">
      </div>
    </div>

    <div class="likes js-likes-block">
      <div class="latest">
        <span></span>
        <span></span>
      </div>

      <div class="total-count">
        <span class="number js-post-like-count">
        </span>

        <span class="text red-dot"
              data-storage-key="like-text"
              data-fallback-text="Liked this">
        </span>
      </div>
    </div>
  </div>
</div>

<%= render template: "home/nav-menu" %>