<div id="nav">
  <i class="nav-sprite user"></i>

  <i class="nav-sprite timeline"></i>

  <i class="nav-sprite notifications"></i>

  <i class="nav-sprite bookmarks"></i>

  <i class="nav-sprite home active"></i>
</div>