<div class="red-dot-wrapper">
  <textarea class="js-text-field"> </textarea>

  <div class="active-text-wrapper">
    <span class="title">Active text: </span>

    <span class="js-active-text"></span>
  </div>

  <div class="btn btn-success js-save-red-dot">Save</div>
</div>

