<div class="post-wrapper">
  <div class="input-wrapper">
    <label>
      Title:

      <input class="js-post-title"
             name="Post title">
    </label>
  </div>

  <div class="input-wrapper">
    <label>
      Summary:

      <input class="js-post-summary"
             name="Post summary">
    </label>
  </div>

  <div class="input-wrapper">
    <label>
      Author:

      <input class="js-post-author"
             name="Post Author">
    </label>
  </div>

  <div class="btn btn-success js-save-post">Save</div>
</div>
