/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "mixins";
@import "fonts";
@import "home";
@import "red_dot";
@import "posts";

html {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: map-get($breakpoints, mobile-max);
  background-color: $main-dark;
  color: #FFF;
  font-family: Lato, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0;
}

textarea,
input {
  color: #000000;
}

textarea {
  resize: none;
}

.content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.back-btn {
  position: absolute;
  top: 35px;
  left: 15px;
  width: 46px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  background-color: transparent;

  &:after {
    width: 15px;
    height: 15px;
    border: 3px solid;
    border-color: transparent transparent #FFF #FFF;
    border-radius: 3px;
    display: block;
    transform: translate(10%, -10%);
    content: '';
  }
}

#nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: $mobile-max;
  height: 10%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $main-dark;

  .nav-sprite {
    width: 20px;
    height: 20px;
    background-image: url("/assets/icons/icons-sprite.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
    cursor: pointer;

    &.active {
      opacity: 1;
    }

    &.user {
      background-position: -200px -2px ;
    }

    &.timeline {
      background-position: -10px -2px ;
    }

    &.notifications {
      background-position: -267px -2px ;
    }

    &.bookmarks {
      background-position: -74px -2px ;
    }

    &.home {
      background-position: -142px -2px ;
    }
  }
}

.red-dot {
  position: relative;

  &:before {
    position: absolute;
    bottom: -10px;
    right: 0;
    padding: 2px 2px 1px 1px;
    display: inline-block;
    background-color: #FF0000;
    content: 'dot';
    font-size: 8px;
    line-height: 8px;
    cursor: pointer;
  }
}