@font-face {
  font-family: "Lato";
  src: font-url("Lato-Regular.eot") format("eot");
  src: font-url("Lato-Regular.eot") format("eot"),
       font-url("Lato-Regular.woff2") format("woff2"),
       font-url("Lato-Regular.woff") format("woff"),
       font-url("Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}