// Place all the styles related to the redDot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.red-dot-wrapper {
  textarea {
    width: 100%;
    height: 300px;
  }

  .active-text-wrapper {
    .title {
      font-weight: 700;
    }
  }
}